body {
   
    background-color: rgba(128, 128, 128, 0.356);
    margin: 40px 40px 40px 40px;
}
img
 {
   
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.39);

}

video{
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.39);
    width: 100%;
    height: auto;

}

.pic{
    height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;

   
}

.brain-pic{
    display: block;
    margin: 0 auto;
}
.dou{
    flex-direction: row;
}

.start{
    margin-left: 100px;
}
.start-text
 {
    margin-top: 100px;
    
}

.you-get-to-tell-us-text {
    margin-top: 60px;
}

.theorize-text{
    margin-top: 55px;
}


.hp-example {
    padding: 10px 10px 0px 10px;
    background-color: lavender;
    color: #000;

    text-decoration: none;
    justify-content: center;
   
}

